
.scroll .headroom-wrappe {
	position: fixed !important;
	height: 0px;
}
.scroll .headroom {

position: fixed;
  bottom: 100px;
  right: 60px;
  @media screen and (min-width: 768px) {
	right: 20px;
  }
  z-index: 300;
  background: #1d293c;
  padding: 10px 0px 10px 0;
  opacity: 0;
  visibility: hidden;
  
  
}
.scroll .headroom--unfixed {
position: relative;
bottom: 30px;
opacity: 0;
visibility: hidden;
 
}
.scroll .headroom--scrolled {
  transition: top 300ms linear, visibility 300ms linear, opacity 300ms linear;
}
.scroll .headroom--unpinned {
  position: fixed;
  opacity: 1;
  visibility: visible;
  
}
.scroll .headroom--pinned {
  position: fixed;
  opacity: 0;
  visibility: hidden;
}