
 .navLink{
 	color: white;
	font-size: 19px;
 	transition: color 250ms linear;
	font-weight: 400;
	display: block;
	border-bottom: 1px solid hsl(0, 0%, 100%, 0.3);
	
 	&:hover{
 		color: rgb(209, 78, 3);
 	}

 }

 .headroom-wrapper{
	
 }

 .headroom {
	top: 0;
	left: 0;
	right: 0;
	zIndex: 1;
	
 }
 .headroom--unfixed {
	position: relative;
	transform: translateY(0);
 }
 .headroom--scrolled {
	transition: transform 200ms ease-in-out;
 }
 .headroom--unpinned {
	position: fixed;
	transform: translateY(-100%);
 }
 .headroom--pinned {
	position: fixed;
	transform: translateY(0%);
 }
